<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" type="text/css" href="about.css"/>  
</head>
<body>

    <div class="wrapper">

        <%- include('../partials/header.ejs') %>

        <div class="layout-sidebar">
            <main><%- body %></main>
            <side>ANNOUNCEMENTS
                <ul>
                    <li>UPDATE 21/05/21, We have received reports that students are unable to see Join Meeting button when Lecturers (Mac users) started the meeting via Safari and launch the Kaltura Meetings Desktop Client. We have provided feedback to Kaltura support and are pending their advise. In the meantime, if your student are unable to join the meeting, please use Chrome as a workaround. Kaltura now has a desktop application that can be installed on iMac and Macbook! Please refer to the respective guides for more information </li>
                    <li> As a result of COVID-19, our method of teaching and learning has changed from purely physical Face to Face lessons to fully online lessons and/or lessons with some student in a physical venue while some are online
                    </li>
                </ul>
            </side>
            
    
        </div>

        <%- include('../partials/footer.ejs') %>

    </div>


</body>
</html>